{% extends 'base.html' %}

{% block content %}
    <div class="container card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center">Create a post:</h2>
                <div class="center">
                    <label class="form-label">Title:</label>
                    {{ form.title }}
                </div>
                <div class="center">
                    <label class="form-label">Content:</label>
                    {{ form.content }}
                </div>
                <div class="center">
                    {{ form.image }}
                </div>
                <div class="center">
                    <label class="form-label">Category:</label>
                    {{ form.category }}
                </div>
                <div class="center">
                    <label class="form-label">Tags:</label>
                    {{ form.tags }}
                </div>
                <div class="center">
                    <input type="submit" value="Create post" class="btn btn-primary full-width">
                </div>
            </form>
        </div>
    </div>

{% endblock content %}