{% extends 'base.html' %}

{% block content %}
    <div class="container card" style="width: 35em;">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Reset password</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2" onsubmit="this.form.submit(); this.disabled=true; this.value='Sending…';">Reset</button>
            </form>
        </div>
    </div>

{% endblock content %}